body {
    text-align: center;
    font-family: 'Indie Flower';
    background-image: url("../img/background.jpg");
    background-size: cover;
}

h1 {
    font-size: 100px;
    padding-bottom: 20px;
}

.screen {
    margin-top: 30px;
    text-align: center;
}

canvas {
    margin-top: 20px;
}

.display-none {
    display: none;
}

p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.name {
    margin-bottom: 50px;
}

.button {
    font-size: 30px;
    background-color: #141313;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 40px;
}

#save-button {
    font-size: 20px;
    background-color: #141313;
    color: #fff;
    padding: 2px 20px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
}

.input-text {
    font-size: 20px;
    background-color: #f8e4e4;
    color: #141313;
    border: 1;
    box-shadow: 0;
    border-radius: 5px;
}

.arrows-img {
    width: 200px;
    margin-bottom: 40px;
}

.orange {
    color: orangered;
}

.blue {
    color: blue;
}

.purple {
    color: purple;
}